## Data Visualization Course | VNU-HCM University of Science.
### Final Project - Vietnam Dataset
#### **STEP 03 - Example - DATA EXPLORATION AND VISUALIZATION**

In [6]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

In [7]:
from Libraries import *
from Shared_Functions import *

**Đọc dữ liệu từ file đã được xử lý**

In [8]:
dataset_source_path = getGranDir() / 'Dataset'
processed_dataset_path = dataset_source_path / 'THPTQG_2022_processed.csv'
df = getDataFrame(processed_dataset_path)

In [9]:
#TEST
df.head(10)

,id,mathematics_score,literature_score,physics_score,chemistry_score,biology_score,english_score,history_score,geography_score,civic_education_score
0,1000001,3.6,5.00,NaN,NaN,NaN,4.0,2.75,6.00,8.75
1,1000002,8.4,6.75,NaN,NaN,NaN,7.6,8.50,7.50,8.25
2,1000003,5.8,7.50,NaN,NaN,NaN,5.0,7.25,5.50,8.75
3,1000004,7.4,7.50,NaN,NaN,NaN,8.6,7.50,6.50,7.50
4,1000005,7.2,8.50,NaN,NaN,NaN,9.0,8.00,8.50,8.25
5,1000006,6.8,8.50,NaN,NaN,NaN,9.4,7.00,7.50,9.25
6,1000007,7.2,6.00,NaN,NaN,NaN,5.0,8.00,7.50,9.00
7,1000008,8.0,8.00,NaN,NaN,NaN,8.0,5.25,7.00,7.00
8,1000009,2.6,5.25,NaN,NaN,NaN,NaN,5.25,6.75,NaN
9,1000010,8.8,8.00,NaN,NaN,NaN,7.0,6.50,6.50,6.75

**Nhận xét:** qua quá trình pre-proccessing trước đó thì ta nhận thấy tập dữ liệu đã được xử lý hoàn thiện. Khi này ta chỉ cần thực hiện bước tiếp sau khi đọc lại tập dữ liệu là thay đổi kiểu dữ liệu cho các cột sao cho chính xác.

In [10]:
#TEST
df.dtypes

id                         int64
mathematics_score        float64
literature_score         float64
physics_score            float64
chemistry_score          float64
biology_score            float64
english_score            float64
history_score            float64
geography_score          float64
civic_education_score    float64
dtype: object

---

### DATA EXPLORATION & DATA VISUALIZATION

HERE